<h1>Descarga</h1>
<nav>
  <a routerLink="/principal" routerLinkActive="active">principal</a> | 
  <a routerLink="/personal" routerLinkActive="active">personal</a>
</nav>
<router-outlet></router-outlet>